{# templates/base.html #}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <!--<link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.orange.min.css">-->
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">   
    <title>Watchdog</title>
  </head>

  <body class="col screen_height">

    <div class="row space_between pad_m cross_center">
        <a href="/"><img src="{{ url_for('static', path='icon.svg') }}" alt="Logo" class="logo_height"></a>
        <h1>Watchdog</h1>
        <div class="row cross_center row_gutter_m {% if user is not defined %}invisible{% endif %}">
          <a href="/logout">Logout</a>
        </div>
    </div>    

    <div class="stretch overflow_vertical_auto">
      {% block content %}
        <h1>Welcome</h1>
      {% endblock %}
    </div>

    <div>
      <small>&copy; {{ current_year }} My Company</small>
    </div>

  </body>
</html>
